{% extends 'base.certificat.html.twig' %}
{% block image %}{{asset(app.user.image)}}{% endblock %}
{% block title %}Multimedia{% endblock %}

{% block body %}
    <h1>Multimedia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ multimedia.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ multimedia.type }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ multimedia.lien }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ multimedia.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_multimedia_index') }}">back to list</a>

    <a href="{{ path('app_multimedia_edit', {'id': multimedia.id}) }}">edit</a>

    {{ include('multimedia/_delete_form.html.twig') }}
{% endblock %}
