{% extends 'base.certificat.html.twig' %}
{% block image %}{{asset(app.user.image)}}{% endblock %}
{% block title %}Certificat index{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des certificats</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Durée</th>
                <th>Domaine</th>
                <th>Nom du certificat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certificat in certificats %}
            <tr>
                <td>{{ certificat.duree }}</td>
                <td>{{ certificat.domaine }}</td>
                <td>{{ certificat.NomCertificat }}</td>
                <td>
                    <a href="{{ path('app_certificat_show', {'id': certificat.id}) }}" class="btn btn-sm btn-info me-2">
                        <i class="fas fa-eye"></i> Voir
                    </a>
                    <a href="{{ path('app_certificat_edit', {'id': certificat.id}) }}" class="btn btn-sm btn-primary me-2">
                        <i class="fas fa-edit"></i> Modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun certificat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center mt-3">
    <a href="{{ path('app_certification') }}" class="btn btn-lg btn-success">
        <i class="fas fa-plus"></i> Créer un nouveau certificat
    </a>
</div>
{% endblock %}
